* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

main {
  width: 100%;
  margin: 0 auto; }

section {
  width: 100%; }

.w1 {
  display: inline-block;
  width: 100%;
  height: 3em; }
  .w1:before, .w1:after {
    content: "";
    display: block; }
  .w1:after {
    clear: both; }
  .w1 .loc {
    float: left;
    width: 20%;
    /*height: auto;*/
    text-align: left;
    background: #f75311;
    padding-bottom: 2em; }
    .w1 .loc img {
      /*border: 1px solid black;*/
      float: left;
      max-width: 30px;
      height: auto;
      width: auto;
      max-height: 30px;
      padding-top: 0.1em; }
    .w1 .loc .town {
      padding-top: 0.8em;
      /*border: 1px solid black;*/
      float: left;
      height: auto; }
      .w1 .loc .town a {
        color: #ddd; }
        .w1 .loc .town a:hover {
          color: #cfd1d3; }
  .w1 nav {
    float: right;
    width: 80%;
    height: auto;
    color: #ddd;
    text-align: left;
    background: #374249; }
    .w1 nav ul {
      list-style: none; }
      .w1 nav ul li {
        display: inline-block;
        padding: 1em; }
        .w1 nav ul li a {
          text-decoration: none;
          color: #ddd; }
          .w1 nav ul li a:hover {
            color: #cfd1d3;
            text-decoration: underline; }

.sec1 {
  background-image: url("../slike/intro.jpg");
  background-size: cover;
  height: 30em;
  position: relative;
  margin-bottom: 1em; }
  .sec1 .naslovi {
    width: 100%;
    text-align: center;
    padding-top: 20%; }
    .sec1 .naslovi .okvir {
      width: 70%;
      margin: 0 auto;
      background-color: #000;
      opacity: 0.3;
      filter: alpha(opacity=30); }
    .sec1 .naslovi h1 {
      text-align: center;
      color: white;
      font-size: 2em; }
    .sec1 .naslovi h4 {
      text-align: center;
      font-weight: normal;
      font-size: 1em;
      color: white; }

/*
.sec1{

	margin: 0 auto;
	width: 100%;
	height: 70%;
	text-align: center;
	background-size: cover;
	background-image: url('slike/intro.jpg');
	.naslovi{
		position:absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: inline-block;
		border: 1px solid red;
	}

}
*/
.sec2 {
  text-align: right;
  background-color: white;
  height: auto;
  padding-right: 5em;
  padding-bottom: 0.5em; }
  .sec2 input[type="submit"] {
    border-radius: 20px;
    width: auto;
    background: white;
    border: 1px solid #797979;
    color: #797979;
    padding: 1em;
    margin: 0 0.5em; }
    .sec2 input[type="submit"]:hover {
      background: #f3f7f9;
      color: white; }

.sec3 {
  width: 100%;
  margin: 0 auto;
  background-color: #f3f7f9;
  height: auto;
  text-align: center; }
  .sec3 .colContainer {
    margin: 0 auto;
    text-align: center;
    width: 80%; }
    .sec3 .colContainer .col3 {
      display: inline-block;
      width: 20%; }
      .sec3 .colContainer .col3 img {
        width: 100%;
        padding: 1em; }

.sec4 {
  width: 100%;
  margin: 0 auto;
  background-color: white;
  height: auto;
  text-align: center;
  padding: 2em; }
  .sec4 h1 {
    text-align: center;
    font-size: 1.5em;
    color: #797979;
    padding: 1em 0; }
  .sec4 h4 {
    text-align: center;
    font-weight: normal;
    font-size: 0.8em;
    color: #cfd1d3;
    padding: 3em 0; }
  .sec4 .checkButton input[type="submit"] {
    border-radius: 20px;
    width: auto;
    /*float: right;*/
    background: white;
    border: 1px solid white;
    color: white;
    padding: 1em;
    margin: 0 0.5em; }
    .sec4 .checkButton input[type="submit"]:hover {
      background: white;
      color: white; }
  .sec4 table {
    margin: 0 auto;
    border: none;
    border-spacing: 0;
    font-size: 0.8em; }
    .sec4 table td, .sec4 table th {
      padding: 0.5em 4em; }
    .sec4 table .th1 {
      background-color: #f75311;
      color: #ddd; }
    .sec4 table .th2 {
      background-color: #374249;
      color: #ddd; }
    .sec4 table .tdb {
      border: 1px solid #797979; }

.sec5 {
  width: 100%;
  margin: 0 auto;
  background-color: #f3f7f9;
  height: auto;
  text-align: center;
  padding: 2em; }
  .sec5 h1 {
    text-align: center;
    font-size: 1.5em;
    color: #797979;
    padding: 1em 0; }
  .sec5 .colContainer1 {
    margin: 0 auto;
    text-align: center;
    width: 80%;
    vertical-align: top; }
    .sec5 .colContainer1 #map {
      display: inline-block;
      width: 49%;
      height: auto;
      vertical-align: top; }
    .sec5 .colContainer1 .contactForm {
      vertical-align: top;
      display: inline-block;
      width: 49%;
      background: #f75311;
      /*display: block;*/
      margin: 2em auto;
      padding: 0.5em; }
      .sec5 .colContainer1 .contactForm .contactinput {
        float: left;
        border: none;
        color: #797979;
        height: 3em;
        margin: 1em 0;
        padding-left: 1em; }
      .sec5 .colContainer1 .contactForm .contactinput[name='contact_title'] {
        float: left;
        width: 20%; }
      .sec5 .colContainer1 .contactForm .contactinput[name='contact_name'] {
        float: right;
        width: 75%; }
      .sec5 .colContainer1 .contactForm .contactinput[name='contact_email'] {
        float: left;
        width: 100%; }
      .sec5 .colContainer1 .contactForm textarea {
        width: 100%;
        float: left;
        border: none;
        color: #797979;
        height: 3em;
        margin: 1em 0;
        padding-left: 1em;
        padding-top: 1em; }

footer {
  width: 100%;
  text-align: center;
  background: #374249;
  font-size: .9em;
  color: #ddd;
  padding: 0.5em; }
  footer a {
    text-decoration: none;
    color: #f75311; }
    footer a:hover {
      color: #cfd1d3; }

@media only screen and (max-width: 768px) {
  .w1 {
    display: block;
    width: 100%;
    height: auto; }
    .w1 .loc {
      width: 100%;
      height: auto;
      text-align: left;
      padding: 0.5em; }
    .w1 nav {
      text-align: center;
      width: 100%;
      height: auto; }
      .w1 nav ul li {
        display: block;
        padding: 0.5em; }

  .loc {
    float: left;
    width: 20%;
    /*height: auto;*/
    text-align: left;
    background: #f75311;
    padding-bottom: 2em; }
    .loc img {
      /*border: 1px solid black;*/
      float: left;
      max-width: 30px;
      height: auto;
      width: auto;
      max-height: 30px;
      padding-top: 0.1em; }
    .loc .town {
      padding-top: 0.8em;
      /*border: 1px solid black;*/
      float: left;
      height: auto; }
      .loc .town a {
        color: #ddd; }
        .loc .town a:hover {
          color: #cfd1d3; }

  .sec1 {
    background: black;
    height: auto;
    padding-bottom: 2em; }
    .sec1 .naslovi .okvir {
      width: 80%;
      opacity: 1;
      filter: alpha(opacity=100); }
    .sec1 .naslovi h1 {
      color: white; }
    .sec1 .naslovi h4 {
      color: white; }

  .sec2 {
    text-align: center;
    background-color: white;
    height: auto;
    padding: 0 0 0.5em 0; }
    .sec2:hover {
      background: #f3f7f9;
      color: white; }

  .sec3 {
    width: 100%;
    height: auto; }
    .sec3 .colContainer {
      width: 100%; }
      .sec3 .colContainer .col3 {
        display: block;
        width: 100%; }
        .sec3 .colContainer .col3 img {
          width: 100%;
          padding: 1em; }

  .sec4 {
    width: 100%;
    text-align: center;
    background-color: white;
    height: auto;
    padding-bottom: 0.5em; }
    .sec4 .checkButton input[type="submit"] {
      border-radius: 20px;
      width: auto;
      background: white;
      border: 1px solid #797979;
      color: #797979;
      padding: 1em;
      margin: 0 0.5em; }
      .sec4 .checkButton input[type="submit"]:hover {
        background: #f3f7f9;
        color: white; }
    .sec4 table {
      display: none; }

  .sec5 {
    width: 100%;
    padding: 0; }
    .sec5 .colContainer1 {
      text-align: center;
      display: block; }
      .sec5 .colContainer1 #map {
        margin: 0 auto;
        display: block;
        width: 100%; }
      .sec5 .colContainer1 .contactForm {
        width: 100%; } }
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .sec3 {
    width: 100%; }
    .sec3 .colContainer {
      width: 80%; }
      .sec3 .colContainer .col3 {
        display: inline-block;
        width: 49%; }
        .sec3 .colContainer .col3 img {
          width: 100%;
          padding: 1em; }

  .sec5 {
    width: 100%;
    padding: 0; }
    .sec5 .colContainer1 {
      display: block; }
      .sec5 .colContainer1 #map {
        display: block;
        width: 100%; }
      .sec5 .colContainer1 .contactForm {
        width: 100%; } }

/*# sourceMappingURL=main.css.map */
