$fontFamily: 'Roboto', sans-serif;
$fontColorTitle:#374249;
$fontColor: #797979;
$fontColorNav:#ddd;
$colorOrange: #f75311;
$colorDarkBlue: #374249;
$centerMargin: 0 auto;

$colorHover: #cfd1d3; 
$colorBkgSec: #f3f7f9;
